

 #bus-pic {
   width: 80%;
   margin: 0 auto;

   img {
     width: 100%;
   }
 }

  .container-welcome {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    border-bottom: 2px dashed @navigation-border;
    font-family: 'Roboto', sans-serif;
  

    p {
      font-size: 1.6rem;
    }
  }


  .container.home {
    width: 80%;
  }

    
  

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      height: 100%;
      margin-bottom: 30px;
    }

    button {
      display: flex;
      align-items: flex-end;
      font-size: 1.6rem;
      background: @eastern-blue;
      border-radius: 15px;
      color: white;
      width: 100%;
      padding: 5px;
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
   
   


  @media (max-width: 500px)
  .container-welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    margin-top: 2rem;
    padding: none;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px dashed @navigation-border;  
  } 
 
  .container.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .text-content {
      display: flex;
      flex-direction: column;
    }
    .img-content {
      display: flex;
      flex-direction: column;
    }
  }
  
}
  