.title {
  margin: 0 auto;
}

 #bus-pic {
   width: 80%;
   margin: 0 auto;

   img {
     width: 100%;
   }
 }

  .container-welcome {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border-bottom: 2px dashed @navigation-border;
    font-family: 'Roboto', sans-serif;
  

    p {
      font-size: 1.6rem;
    }
  }


  .container {
    width: 80%;
    margin: 0 auto;
  }

  .home {
    width: 80%;
  }

    
  

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
        height: 100%;
        max-height: 400px;
        width: 100%;
        min-width: 375px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      height: 100%;
      margin-bottom: 30px;
    }

    button {
      .buttons-mixin(1.6rem, 5px);
      background: @eastern-blue;
      color: white;
      width: 100%;
      
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  

  
  @media @mobile {

    
    .home {
      margin: 0 auto;
    }

    .container {
      margin: 0 auto;
    }

  
    .container-welcome {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      width: 100%;
      padding: none;
      font-family: 'Roboto', sans-serif;
      border-bottom: 2px dashed @navigation-border;  
  } 
  
    .content-section {
      flex-direction: column;
      width: 100%;

      .text-content {
        width: 100%;
      }

      .img-content {
        width: 100%;
      }
    }

    .inverse-content {
      flex-direction: column-reverse;
      width: 100%;
    }

    .content-pick {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;

      .destination {
        width: 100%;
      }
    }

    .content-destination {
      width: 100%;
    }
  
}
  
@media all and (max-width: 500px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 1rem;
  }

  #welcome {
    font-size: 1rem;
  }

  img {
    max-width: 350px;
  }
}
